/* BEM Block__element--modifier. --modifiers occur on blocks */

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

$primary-green: #3b975a;

html,
body,
.map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  h4 {
    margin: 0 0 5px;
    color: #777;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.chart text {
  fill: black;
  font-family: sans-serif;
  text-anchor: middle;
  font-size: 10px;
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: 3px;
  font: 12px sans-serif;
  background: #eeeeee;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.map-popup--visible {
  position: fixed;
  visibility: visible;
  left: 50%;
  top: 50%;
  z-index: 1000;
}

.map-popup--hidden {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -5;
  visibility: hidden;
}

.feather {
  display: block;
  margin: auto;
  text-align: center;
}

.select2-dropdown {
  z-index: 9001;
}

.select-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0.2em 0.2em 0.2em 0;
}


.tutorial-theme__btn {
  margin: 2em;
}

.button,
.shepherd-button {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  background: $primary-green;
  padding: 0.4em;
  border-radius: 0.3em;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 0.2em;
}

.button--no-margin {
  margin: 0em;
}

.button--special {
  margin-top: 1.5em;
  display: block;
  padding: 0.7em 1em;
}

.shepherd-button:hover,
.button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.label {
  margin-top: 0.4em;
  font-weight: 600;
  color: rgb(77, 77, 77);
  border: 2em;
}

.tippy-tooltip {
  /* background: #fff; */
  background: rgb(204, 236, 205);
  font-weight: 450;
  color: #222222;
  border: #fff;
  font-size: 0.8em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search__select {
  border-radius: 0.3em;
  display: flex;
}
